.page-container {
    position: relative;
    min-height: 100vh;
  }
.wave-container{
    position: relative;
}
.text-container{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
h1{
    font-size: 40px;
    margin:auto;
    text-align: center;
    color: white;
}
h2{
    color: rgb(12,109,120);
}
#second-section {
    text-align: right;
}
.section-one {
    padding-left: 100px;
    padding-right: 100px;
}
.section-two{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(0,29,36);
}
#copyright {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 10px;
}